certifi==2025.7.14
charset-normalizer==3.4.2
docopt==0.6.2
future==1.0.0
hdfs==2.7.3
idna==3.10
numpy==2.2.6
pandas==2.3.1
PyHive==0.7.0
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
six==1.17.0
thrift==0.22.0
tzdata==2025.2
urllib3==2.5.0
## The following requirements were added by pip freeze:
altair==5.5.0
asn1crypto==1.5.1
attrs==25.3.0
blinker==1.9.0
boto3==1.39.9
botocore==1.39.9
cachetools==6.1.0
cffi==1.17.1
click==8.2.1
confluent-kafka==2.11.0
cryptography==45.0.5
filelock==3.18.0
gitdb==4.0.12
GitPython==3.1.44
Jinja2==3.1.6
jmespath==1.0.1
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
MarkupSafe==3.0.2
narwhals==1.48.0
packaging==25.0
pillow==11.3.0
platformdirs==4.3.8
protobuf==6.31.1
pure-sasl==0.6.2
pyarrow==21.0.0
pycparser==2.22
pydeck==0.9.1
PyJWT==2.10.1
pyOpenSSL==25.1.0
referencing==0.36.2
rpds-py==0.26.0
s3transfer==0.13.1
smmap==5.0.2
snowflake-connector-python==3.16.0
sortedcontainers==2.4.0
streamlit==1.47.0
tenacity==9.1.2
thrift-sasl==0.4.3
toml==0.10.2
tomlkit==0.13.3
tornado==6.5.1
typing_extensions==4.14.1
watchdog==6.0.0
